.side-bar
  
  %div.header-top
    %ul.user
      %li.user__name
        <p>username</p>
      %li.user__button
        =link_to "#", class: "user__btn " do
          <i class="fas fa-edit "></i>
        =link_to "#", class: "user__btn " do
          <i class="fas fa-cog" ></i>
  
  %div.side-content
    %ul.group
      %li.group__name
        groupname
      %li.group__message
        ここにはコメントが入ります

