.main{
  float: right;
  left: 300px;
  right: 0;
  width: calc(100vw - 300px);
  position: fixed;
  
  
  .main-header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    
    .main-header-left{
      margin-top: 35px;
      &__name{
        font-size: 20px;
        color: #333333; 
        margin-bottom: 15Px;    
      }           
      &__member{
        float: right;
        margin-left: 8px;
        font-size: 12px;
        color: #999999;
       }
    }
  
    .main-header-right{ 
      margin-top: 30px;
      display: block;
        &__edit-btn{
        padding: 0 20px;
        font-size: 16px;
        border: 1px solid #38AEF0;
        line-height: 38px;
        text-decoration: none;
        color: #38AEF0;
        a{
          text-decoration: none;
          color: #38AEF0;
        }
      }
    }
  }
    .main-chat{
      background-color: #fafafa;
      padding: 46px 40px;
      height: calc(100vh - 283px);
      overflow: scroll;
      
      .message{
        margin-bottom: 50px;
      }

      .upper-message{
        display: flex;
        &__user-name{
          font-size: 16px;
          font-weight: bold;
          color: #434a54;
        }
  
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
  
        .lower-message{
          margin-top: 10px;
          font-size: 14px;
          color: #434a54;
        } 
    }
  
    .form{
      padding: 20px 40px;
      height: 90px;
      background-color: #ddd;
      box-sizing: border-box; 
      padding: 20px 40px 20px 40px;
      
      .form-edit{
        height: 50px;
        width: calc(100% - 125px);
        padding: 0 10px;
        border: none; 
        background-color: white;
        float: left;
        position: relative;
      }
  
        .file__btn{ 
          color: black;
          font-size: 23px;
          text-decoration: none;
          line-height: 50px;
          position: absolute;
          right: 52px;
          cursor: pointer;
          cursor: hand;
          .image{
            display: none;
          }
        }
      
      .submit__btn{
        height: 50px;
        width: 90px;
        font-size:15px;
        background-color: #38aef0;
        color: #fff;
        border: none; 
        // padding: 0 30px;
        float: right;
        // margin-left: 15px;
        cursor: pointer;
        cursor: hand;
      }
    }  
  }